.--app-app-container{
  background: url('/images/CheeringCrowd.jpg') no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}

@media screen and (min-width:768px) {
  .--app-app-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh;
    padding-bottom:unset;
  }
}